{% extends 'warhammer/base.html' %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% block body %}

{% for new_item in newlist %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="{{newlist.image}}" alt="" width="250" height="300">
            </div>

            <div class="col-md-6">
                <h1>{{newlist.product}}</h1>
                <h1>{{newlist.price}}</h1>
                <p>{{newlist.description}}</p>
            </div>
        </div>
    </div>
{% endfor %}

{% endblock %}
</body>
</html>